<footer class="footer">
  <small>
    This <a href="https://www.ncirl.ie/">NCI Cloud Project was create </a>
    by <a href="http://www.smytweb.com/">Yann Nogueira</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://sites.google.com/a/tcd.ie/fslyne/">Teacher Frank Slyner</a></li>
    </ul>
  </nav>
</footer>